h1 {
  margin-top: 0;
  text-align: center;
  height: 70vh;
}
.bottom-bar,
.top-bar{
  flex: 1;
  background-color: cornflowerblue;
  }

div{
height: 50%;
width: 100%;
flex-direction: column;
justify-content: center;
text-align: center;
}

img{
width: 40%; 
}

.carrinho{
  background: url('./Componentes/Img/Carrinho.png')  no-repeat;
  width: 1%; 
  border: none;
}